section.about {
  max-width: 80rem;
  width: 100%;
  padding: 4rem 2rem;
  margin-top: 2rem;
  background-color: #0d1326;
  border-radius: 12px;
  margin: 0 auto;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-content h2 {
  font-size: var(--text-lg);
  color: var(--text-main);
  margin-bottom: 1rem;
  text-align: center;
}

.about-content p {
  font-size: var(--text-base);
  line-height: 1.8rem;
  margin-bottom: 1rem;
  color: var(--text);
}

/* Responsivo opcional */
@media (max-width: 768px) {
  .about-content {
    padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  .about-content {
    padding: 0 0.5rem;
  }

  .about-content h2 {
    font-size: 1.5rem;
  }

  .about-content p {
    font-size: 0.95rem;
    line-height: 1.6rem;
  }
}

