*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #ffffff;
  --text-main: #ffcc00;

  --ff-base: "Ubuntu", sans-serif;
  --ff-title: "Raleway", sans-serif;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-title: 1.5625rem;
  --text-lg: 2rem;
  --text-xl: 4rem;

  --background: #0b0f1f;

  --my-cv: #ffcc00;

  --bay-line: #ffcc00;

}

html {
  font: 500 1rem/1.5rem var(--ff-title);
  color: var(--text);
  background-color: var(--background);
}

body {
  padding-top: 100px;
}

.language-switcher {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 8px;
  z-index: 1000;
}

.language-switcher .flag {
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.language-switcher .flag.selected {
  opacity: 1;
  border: 2px solid #ffcc00; /* Usei a cor do seu tema */
  border-radius: 50%;
}

